.profile-view__image-container {
background-color: #54d3bf;
height: 220px;
}

  .profile-view__image {
    padding-top: 20px;
    height: 200px;
    max-height: 200px; 
    margin-left: auto;
    margin-right: auto;
    display: block;

}
