<ion-item no-lines *ngIf="chatMessage.userToId === userId; else to">
  <ion-avatar item-left>
    <img src="assets/images/avatar.png" alt="">
  </ion-avatar>

  <h2>{{chatMessage.userFromProfile?.firstName}} {{chatMessage.userFromProfile?.lastName}}</h2>
  <p>{{chatMessage.content}}</p>
</ion-item>
<ng-template #to>
<ion-item no-lines class="chat-message__message-right">
  <ion-avatar item-right>
    <img src="assets/images/avatar.png" alt="">
  </ion-avatar>
  <h2>{{chatMessage.userToProfile?.firstName}} {{chatMessage.userToProfile?.firstName}}</h2>
  <p>{{chatMessage.content}}</p>
</ion-item>
</ng-template>